@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.container {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    overflow: hidden;

    .heading {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        opacity: 0;
        animation: fadeIn 2s forwards;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes min {
            from {
                opacity: 1;
                transform: scale(1.5);
            }

            to {
                opacity: 0;
                transform: scale(0);
            }
        }

        h1 {
            font-size: 4rem;
            margin: 0;
            color: white;
            font-family: 'Open Sans Condensed', sans-serif;
            font-weight: 200;
            position: relative;

            @keyframes top {
                0% {
                    left: 0;
                    opacity: 1;
                }
                
                20% {
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                    left: 200%;
                }
            }

            @keyframes bottom {
                0% {
                    left: 0;
                    opacity: 1;
                }
                
                20% {
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                    left: -200%;
                }
            }
        }

        .power {
            color: #00ffff;
            font-size: 10rem;
            transition: transform .6s;
            padding: 3rem;
            animation: pulse 1.5s alternate infinite;

            @keyframes pulse {
                0% {box-shadow: 1}
                100% {opacity: .1}
            }

            &:hover {
                transform: scale(1.5);
            }
        }
    }
}

@media (min-width: 767px) {
    .container {
    
        .heading {
    
            h1 {
                font-size: 5rem;
            }
    
            .power {
                font-size: 15rem;
            }
        }
    }
}